<!-- <div class="row">
  <div class="col-md-10 col-xs-10 col-6">
    <div class="row">
    </div>
 
  <div class="col-md-12 col-xs-12 col-10 col-lg-12">
    <a class="skip-link" href="#maincontent">Skip to main</a> 
    <div class="toggle_switch">
      <input type="checkbox" class="switch_3" [formControl]="darkTheme" id="darkTheme">
      <svg class="checkbox" xmlns="http://www.w3.org/2000/svg" style="isolation:isolate" viewBox="0 0 168 80">
          <path class="outer-ring" d="M41.534 9h88.932c17.51 0 31.724 13.658 31.724 30.482 0 16.823-14.215 30.48-31.724 30.48H41.534c-17.51 0-31.724-13.657-31.724-30.48C9.81 22.658 24.025 9 41.534 9z" fill="none" stroke="#233043" stroke-width="3" stroke-linecap="square" stroke-miterlimit="3"/>
          <path class="is_checked" d="M17 39.482c0-12.694 10.306-23 23-23s23 10.306 23 23-10.306 23-23 23-23-10.306-23-23z"/>
          <path class="is_unchecked" d="M132.77 22.348c7.705 10.695 5.286 25.617-5.417 33.327-2.567 1.85-5.38 3.116-8.288 3.812 7.977 5.03 18.54 5.024 26.668-.83 10.695-7.706 13.122-22.634 5.418-33.33-5.855-8.127-15.88-11.474-25.04-9.23 2.538 1.582 4.806 3.676 6.66 6.25z"/>
      </svg>
      <label class="custom-control-label" for="darkTheme">Dark <span> Mode</span></label>
    </div>
   
  </div>
</div>
<div class="col-md-2 col-xs-10 col-6  text-right" style="text-align: right;">
  <span >
      <i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa fa-facebook "></i>&nbsp;&nbsp;&nbsp;
      <i class="fa fa-instagram "></i>&nbsp;&nbsp;&nbsp;
      <i class="fa fa-linkedin "></i>
  </span>
    
 
</div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b style="font-size:large;font: optional;">Myndro</b>
      <!- - <svg-icon src="../../../assets/svg/LogoSVG.svg">
      </svg-icon> - ->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link " aria-current="page" href="#">menu</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " aria-current="page" href="#">menu</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " aria-current="page" href="#">menu</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " aria-current="page" href="#">menu</a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item dropdown">
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item"> 
          <a class="nav-link " aria-current="page" href="#">menu</a>
         </li>
        <li class="nav-item"> 
          <a class="nav-link " aria-current="page" href="#">menu</a>
         </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">menu</a>
         </li>
      </ul>
      <form class="d-flex">
     
          <button class="btn btn-sm btn-outline-primary">Sign In</button> &nbsp;&nbsp;
          <button class="btn btn-sm btn-outline-primary">Security</button>
        
      </form>
    </div>
  </div>
</nav> -->
    <div class="row">
        
      <!-- <svg width="100" height="100">
        <circle cx="80" cy="50" r="30" stroke="black" stroke-width="10" fill="red" />
      </svg>
      <svg width="200" height="400">
        <rect  x="50" y="20" width="100" height="50" style="stroke:chocolate;fill:blue;stroke-width: 10;fill-opacity: 0.5;stroke-opacity: 0.5;">
          <circle cx="40" cy="40" r="40" stroke="black" stroke-width="10" fill="red" />
        </rect>
      </svg>
      <svg height="210" width="400">
        <path d="M150 0 L75 200 L225 200 Z" />
      </svg>
      
      <svg height="400" width="450">
        <path  d="M 100 350 l 150 -300" stroke="green" /> 
        <path  d="M 250 50 l 150 300" stroke="red" />
        <path  d="M 175 200 l 150 0" stroke="yellow" />
        <path d="M 100 350 q 150 -300 300 0" stroke="blue" fill=none/>
        <g stroke="black" stroke-width="3" fill="black">
          <circle id="pointA" cx="100" cy="350" r="3" />
          <circle id="pointB" cx="250" cy="50" r="3" />
          <circle id="pointC" cx="400" cy="350" r="3" />
        </g>
        <g font-size="30" font-family="sans-serif" fill="black" stroke="none"
        text-anchor="middle">
          <text x="100" y="350" dx="-30">A</text>
          <text x="250" y="50" dy="-10">B</text>
          <text x="400" y="350" dx="30">C</text>
        </g>
      </svg> -->
        
        
    </div>

<div class="row">
  <div class="col-md-12 col-12">
<!-- <nav class="nav">
  <div class="nav__elements">
    <div class="nav__logo"> <span>s</span><span>y</span><span>w</span><span>r</span><span>.</span></div>
    <ul class="nav__groups">
      <li class="nav__group"><a class="nav__group__link">Medical Masters</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <ul class="product-list multi" data-type="table">
              <li class="product-list__title title">To Work On</li>
              <li class="product-list__link"><a>Writing desks</a></li>
              <li class="product-list__link"><a>Hipster desks</a></li>
              <li class="product-list__link"><a>Corner desks</a></li>
              <li class="product-list__link"><a>Floating desks</a></li>
              <li class="product-list__link"><a>Executive desks</a></li>
              <li class="product-list__link"><a>Gaming desks</a></li>
              <li class="product-list__link"><a>Console tables</a></li>
              <li class="product-list__link"><a>Standing desks</a></li>
              <li class="product-list__link"><a>Laptop stands</a></li>
              <li class="product-list__link"><a>Accent tables</a></li>
            </ul>
            <ul class="product-list multi" data-type="chair">
              <li class="product-list__title title">To Sit On</li>
              <li class="product-list__link"><a>Ergonomic chairs</a></li>
              <li class="product-list__link"><a>Swivel chairs</a></li>
              <li class="product-list__link"><a>Armchairs</a></li>
              <li class="product-list__link"><a>Kneeling chairs</a></li>
              <li class="product-list__link"><a>Chaise lounges</a></li>
              <li class="product-list__link"><a>Fabric sofas</a></li>
              <li class="product-list__link"><a>Sofa beds</a></li>
              <li class="product-list__link"><a>Bouncing balls</a></li>
              <li class="product-list__link"><a>Beanbags</a></li>
            </ul>
            <ul class="product-list multi" data-type="support">
              <li class="product-list__title title">Physical (& Emotional) Support</li>
              <li class="product-list__link"><a>Footstools</a></li>
              <li class="product-list__link"><a>Ottomans</a></li>
              <li class="product-list__link"><a>Coffee tables</a></li>
              <li class="product-list__link"><a>Shelving Units</a></li>
              <li class="product-list__link"><a>Bookcases</a></li>
              <li class="product-list__link"><a>Pool tables</a></li>
              <li class="product-list__link"><a>Mini bars</a></li>
            </ul>
            <ul class="article-list">
              <li class="article-list__title title">For Your Inspiration</li>
              <li class="article-list__link"><a>Are You Really A Millenial If You't Shop At Ikea?</a></li>
              <li class="article-list__link"><a>The Latest Trend: Purchasing Tables from Hipster Cafes</a></li>
              <li class="article-list__link"><a>15 Uncomfortable but Instagram-Worthy Chairs For Your Home Office</a></li>
            </ul><img class="product-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/nav-table.jpg" data-match="table"/><img class="product-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/nav-chair.jpg" data-match="chair"/><img class="product-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/nav-support.jpg" data-match="support"/>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Councellors</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <ul class="product-list" data-type="floor">
              <li class="product-list__title title">Floor Covers</li>
              <li class="product-list__link"><a>Area rugs</a></li>
              <li class="product-list__link"><a>Door mats</a></li>
              <li class="product-list__link"><a>Hallway runners</a></li>
              <li class="product-list__link"><a>Fake grass</a></li>
            </ul>
            <ul class="product-list" data-type="wall">
              <li class="product-list__title title">Wall Covers</li>
              <li class="product-list__link"><a>Wall art</a></li>
              <li class="product-list__link"><a>#basic quotes</a></li>
              <li class="product-list__link"><a>Nature wallpapers</a></li>
              <li class="product-list__link"><a>Memo boards</a></li>
              <li class="product-list__link"><a>Chalk boards</a></li>
            </ul>
            <ul class="product-list" data-type="window">
              <li class="product-list__title title">Window Capes</li>
              <li class="product-list__link"><a>Curtains</a></li>
              <li class="product-list__link"><a>Tapestries</a></li>
              <li class="product-list__link"><a>Hanging flowers</a></li>
              <li class="product-list__link"><a>Herb gardens</a></li>
            </ul>
            <ul class="product-list" data-type="cool">
              <li class="product-list__title title">It Just Looks Cool</li>
              <li class="product-list__link"><a>Teepees</a></li>
              <li class="product-list__link"><a>Faerie lights</a></li>
              <li class="product-list__link"><a>Easels</a></li>
              <li class="product-list__link"><a>Vintage bicycles</a></li>
            </ul>
            <ul class="article-list">
              <li class="article-list__title title">For Your Inspiration</li>
              <li class="article-list__link"><a>Do the Eat, Pray, Love: Fake Grass For Your Office</a></li>
              <li class="article-list__link"><a>Do You Really Work Better When You're Stepping On A White, Fluffy Rug?</a></li>
              <li class="article-list__link"><a>Yoga Mats: An Exercise Tool and An Office Rug? Win!</a></li>
            </ul><img class="product-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/nav-floor.jpg" data-match="floor"/><img class="product-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/nav-wall.jpg" data-match="wall"/><img class="product-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/nav-window.jpg" data-match="window"/><img class="product-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/nav-cool.jpg" data-match="cool"/>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Real Life Coaches</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <ul class="product-list" data-type="plant">
              <li class="product-list__title title">Plants</li>
              <li class="product-list__link"><a>Succulents</a></li>
              <li class="product-list__link"><a>Large plants</a></li>
              <li class="product-list__link"><a>Lucky charm plants</a></li>
              <li class="product-list__link"><a>Solar-powered plants</a></li>
              <li class="product-list__link"><a>Crochet succulents</a></li>
            </ul>
            <ul class="product-list" data-type="buddy">
              <li class="product-list__title title">Buddies</li>
              <li class="product-list__link"><a>Giant plush toys</a></li>
              <li class="product-list__link"><a>Celebrity cutouts</a></li>
              <li class="product-list__link"><a>Mirrors</a></li>
            </ul>
            <ul class="product-list" data-type="items">
              <li class="product-list__title title">For The Table</li>
              <li class="product-list__link"><a>Origami</a></li>
              <li class="product-list__link"><a>Figurines</a></li>
              <li class="product-list__link"><a>Candles</a></li>
              <li class="product-list__link"><a>Pixar lamps</a></li>
            </ul>
            <ul class="product-list" data-type="pets">
              <li class="product-list__title title">For The Pets</li>
              <li class="product-list__link"><a>Pet beds</a></li>
              <li class="product-list__link"><a>Pet houses</a></li>
              <li class="product-list__link"><a>Cat trees & condos</a></li>
              <li class="product-list__link"><a>Bunny hutches</a></li>
            </ul>
            <ul class="article-list">
              <li class="article-list__title title">For Your Inspiration</li>
              <li class="article-list__link"><a>Why Pets Make The Best Colleagues Ever! (They Don't Talk, That's Why)</a></li>
              <li class="article-list__link"><a>Your Succulent Plants Die Too Easily? Try Crochet Plants Instead</a></li>
              <li class="article-list__link"><a>[Quiz] Which Eeveevolution Is Your Work Soulmate?</a></li>
            </ul><img class="product-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/nav-plant.jpg" data-match="plant"/><img class="product-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/nav-buddy.jpg" data-match="buddy"/><img class="product-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/nav-items.jpg" data-match="items"/><img class="product-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/nav-pets.jpg" data-match="pets"/>
          </div>
        </ul>
      </li>
    </ul>
    <div class="nav__cart">CART</div>
  </div>
</nav> -->

</div>
</div>
<!-- <div class="col-md-12 col-12"> -->


<div class="wrapper visible">
  <h2>Myndro</h2>
  <h6 class="wrapperh6">Uniting Experts and Healing Minds</h6>
  <nav class="tabs">
    <div class="selector"></div>
    <a href="#" class="active"><i class="fas fa-superpowers"></i>Medical Masters</a>
    <a href="#"><i class="fa fa-hand-rock"></i>Councellors</a>
    <a href="#"><i class="fa fa-bolt"></i>Real Life Coaches</a>
    <!-- <a href="#"><i class="fa fa-burn"></i>Marvel</a> -->
  </nav>
</div>
<div class="row desktopscroll invisible">
  <div class="col-md-2 txtcenterpading" >
    <h2>Myndro</h2>
    <span style="font-size:smaller;">Uniting Experts and Healing Minds</span>

  </div>
  <div class="col-md-8 txtcenterpading" >
    <nav class="tabs">
      <div class="selector"></div>
      <a href="#" class="active"><i class="fas fa-superpowers"></i>Medical Masters</a>
      <a href="#"><i class="fa fa-hand-rock"></i>Councellors</a>
      <a href="#"><i class="fa fa-bolt"></i>Real Life Coaches</a>
      <!-- <a href="#"><i class="fa fa-burn"></i>Marvel</a> -->
    </nav>
  </div>
  <div class="col-md-2 txtcenterpading" >
    <button class="btn-hover color-9">Sign IN</button>&nbsp;&nbsp;
    <button class="btn-hover color-9">Security</button>
  </div>
</div>
<!-- </div>
</div>  -->